.scroll {
  text-decoration: none;
  position: fixed;

  background: #0432afe3;
  color: rgb(228, 222, 222);
  font-size: 1.8rem;
  opacity: 0.8;
  bottom: 1rem;
  border-radius: 4px;
  transition: ease 2s;
  padding: 1px;
  margin-bottom: 68px;
  cursor: pointer;
}
